<!DOCTYPE html>
<html>
<head>
    <title>View Tickets</title>
</head>
<body>
    <h2>All Tickets</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Issue</th>
            <th>Status</th>
            <th>Date</th>
        </tr>

        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket[0] }}</td>
            <td>{{ ticket[1] }}</td>
            <td>{{ ticket[2] }}</td>
            <td>{{ ticket[3] }}</td>
            <td>{{ ticket[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Create New Ticket</a>
</body>
</html>
